*{
  line-height: 2em;
  font-family:arial, sans-serif, helvetica;
  padding:0;
  margin:0;
}
.header{
  background-color:#444444;
  border-bottom: 5px solid black;
}
ul{
margin-left:10px;
}
li{
  display: inline;
  list-style: none;
  margin: auto;
}
a{
  text-decoration: none;
  padding:20px;
  font-size: 45px;
  color:#fff;
}
a:hover{
  color:white;
  background: black;
  transition: 0.5s;
  text-decoration: underline;
}
form{
  display: inline;
  padding:10px;
  margin:10px;
}
